[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "==0.15.0"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
